* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: orange; */
    color: rgb(20, 20, 20);
}

.main-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows:  40px auto;
    gap: 0px;
    
}

#nav-section {
    grid-column: 1 / span 2;
    grid-row: 1;
    /* background-color: rgb(124, 83, 6); */
    background-color: #4b4f58;
    display: grid;
    grid-template-columns: 280px auto 150px;
}

#logo-container {
    /* background-color: orange; */
    grid-column: 1;
}

#nav-buttons-container {
    /* background-color: rgb(224, 149, 8); */
    grid-column: 2; 
}

#user-container {
    /* background-color: rgb(187, 125, 9); */
    grid-column: 3;
}

#account-search {
    display: inline-flex;
    width: 80%;
    height: 27px;
    border: none;
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 3px;
    padding-left: 8px;
    outline: none;
}

#add-new-account {
    display: inline-flex;
    margin-right: 0px;
    margin-left: 3px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    border-radius: 2px;
}

#add-new-account:hover {
    background: grey;
}

#accounts-section {
    grid-column: 1;
    grid-row: 2 / span 3;
    background-color: #373a3f;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  60% auto;
    gap: 0px;
}

#expiring-list {
    background-color: rgb(3, 3, 54);
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#account-details-container {
    grid-column: 2 ;
    grid-row: 2 / span 3;
    /* background-color: orange; */

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  20% 20% 20% auto;
    gap: 0px;

}

#account-detail {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 1;
    
    margin: 8px 8px 8px 8px ;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 32.5% 67.5%;
    grid-template-rows: 25px auto;
    gap: 0px;    
}

#account-detail-col-1 p, 
#account-detail-col-2 p,
#account-notes-containter p {
    
    background: none;
    margin-top: 10px;
    display: inline-block;
    margin: 0px 2.5px 0px 15px ;
    
    height: 14px;
    font-size: 13px;
    width: auto;

}

#account-name-header {
    /* background-color: rgb(4, 209, 106); */
    grid-column: 1 / span 3;
    text-transform: uppercase;
}

#account-detail-col-1, #account-detail-col-2 {
    margin-top: 24px;
}

#account-detail-col-1 {
    /* background-color: springgreen; */
    display: grid;
    grid-template-columns: 100px auto;
    grid-auto-rows: 23px;
    gap: 0px;        
}

#account-detail-col-2 {
    /* background-color: rgb(6, 230, 118); */
    display: grid;
    grid-template-columns: 100px auto;
    grid-auto-rows: 23px;
    gap: 0px;
}

#account-contacts {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 2;

    margin: 8px 8px 8px 0px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto 60px;
}



#contact-section-header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;    
}

#contacts-list-containter {
    
    grid-column: 1 / span 1;
    grid-row: 2 ;
}

#account-notes-containter {
    grid-column: 1 / span 1;
    grid-row: 3 ;

    display: grid;
    grid-template-columns: 50px auto;

}

#notes {
    display: inline;
    margin: 0px 10px 10px 15px;
    padding-left: 5px ;
    padding-top: 5px ;
    width: auto;
    height: auto;
    resize: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(253, 253, 253);
}

#notes:focus {
    outline: none !important;
    border:1px ;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.192);
}

#account-drivers {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 1;

    margin: 0px 8px 8px 8px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto;
}

.drivers-col-name {
    width:250px; 
    padding-left: 5px;}
.drivers-col-state {width:60px;}
.drivers-col-cdlnumber{width:110px;}
.drivers-col-year{width:60px;}
.drivers-col-hired{width:100px;}
.drivers-col-terminated{width: 100px;}
.drivers-col-actions{width: 100px;}

#account-vehicles {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 2;

    margin: 0px 8px 8px 0px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto;
}

.vehicles-col-year{
    width:50px;
    padding-left: 5px;}
.vehicles-col-make{width:110px;}
.vehicles-col-vin{width:160px;}
.vehicles-col-unit{width:40px;}
.vehicles-col-type{width:60px;}
.vehicles-col-value{
    width:90px;
    text-align: right;
}
.vehicles-col-driver{
    width:280px;
    padding-left: 15px;
}
.vehicles-col-actions{width:100px;}

#account-policies {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 1 / span 2;
    grid-row: 3;

    margin: 0px 8px 8px 8px;
    border-radius: 3px;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto;
}

.policies-col-type {
    width:180px; 
    padding-left: 5px;}
.policies-col-effective {width:120px;}
.policies-col-expiration {width:120px;}
.policies-col-carrier {width:350px;}
.policies-col-mga {width:350px;}
.policies-col-policyno {width:175px;}
.policies-col-policyno td{color: rgb(12, 116, 12);}
.policies-col-prem_initial {
    width:200px;
    text-align: right;
}
.policies-col-prem_current {
    width:200px;
    text-align: right;
}
.policies-col-actions {width:200px;}

#account-endts {
    background-color: rgba(238, 236, 236, 0.884);
    grid-column: 1 / span 2;
    grid-row: 4;

    margin: 0px 8px 8px 8px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto;
}

.endts-col-effective{width:85px; padding-left: 5px;}
.endts-col-action{width:55px;}
.endts-col-description{
    width:250px;
    padding-right: 8px;
}
.endts-col-year{width:40px;}
.endts-col-make{width:100px;}
.endts-col-vin{width:150px;}
.endts-col-pdvalue{
    width:70px;
    text-align: right;
}
.endts-col-surcharge{
    width:80px;
    padding-left: 10px;
}
.endts-col-al_premium{
    width:80px;
    text-align: right;
    padding-right: 10px;
}
.endts-col-mtc_premium{
    width:80px;
    text-align: right;
    padding-right: 10px;
}
.endts-col-pd_premium{
    width:80px;
    text-align: right;
    padding-right: 10px;
}
.endts-col-brokerfees{
    width:100px;
    text-align: right;
    padding-right: 10px;
}
.endts-col-endtfees{
    width:80px;
    text-align: right;
    padding-right: 10px;
}
.endts-col-otherfees{
    width:80px;
    text-align: right;
    padding-right: 10px;
}

.endts-col-totalpremium{
    width:110px;
    text-align: right;
    padding-right: 10px;
}

.endts-col-status{width:50px;}
.endts-col-variance{width:50px;}
.endts-col-actions{width:50px;}


.form-header {
    display: block;
    background: #e4dada31;
    height: 40px;
    width: 100%;
    /* border-radius: 8px 8px 0px 0px; */
}

.form-body {

    height: auto;
    width: 100%;
    display: block;
    
}

.form-footer {

    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.form-caption {
    display: inline-flex;
    margin-top: 8px;
    margin-left: 15px;
    font-weight: 650;
}

.form-close-button {
    position: absolute;
    right: 15px;
    top: 4px;
    cursor: pointer;
    padding: 5px;
}

#modal-wrapper {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 36, 36, 0.726);
}

.save-btn{
    border-style: none;
    padding: 8px 35px 8px 35px;
    margin-left: 25px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.close-btn{
    border-style: none;
    padding: 8px 25px 8px 25px;
    margin-left: 6px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.save-btn:hover {
    background: #1560A0;
    color: azure;
}
.close-btn:hover {
    background: #a10b0be8;
    color: azure;
}

#new-account-form {
    background: lightgray;
    display: none;
    height: 800px;
    width: 1000px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
    bottom: 0px;
}   



#new-account-form input,
#new-account-form label,
#new-account-form select {
    display: block;
    width: 460px;
    margin-left: 15px;
    margin-top: 10px;

}

#new-account-form input {
    border-radius: 2px;
}

.form-body {
    display: grid;
    grid-template-columns: 50% 50%;
}

#new-account-form label {
    padding-left: 10px;
    font-size: 12px;
}

#account-form-col-1 {
    width: 50%;
    grid-column: 1/ span 1; 
}   

#account-form-col-2 {
    width: 50%;
    grid-column: 2/ span 1;
}

.form-body input,
.form-body select
{
    border-style: none;
    outline: none;
    padding: 8px 13px 11px 13px;
    
}

#account-edit {
    
    float: right;
    width: 30px;
    margin-top: 10px;
}

.account-values {
    font-weight: 400;
    cursor: default;  
    word-wrap: none;  
}


.account-values:hover {
    font-weight: 500;
    color: #1560A0;    
}

.account-labels {
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 84, 84);
}

#accountType_name, #operation_name, #source_name {
    text-transform: capitalize;
}

#accounts-list {
    
    /* background-color: rgb(18, 18, 107); */
    grid-column: 1;
    grid-row: 1 / span 1;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  70px minmax(0,550px);
}

#accounts-name-header p {
    text-transform: uppercase;
}

#accounts-options {
    /* background-color: teal; */
    grid-row: 2 / span 1;
    height: auto;
    width: 98%;
    overflow: auto;
    
}

#accounts-options li {
    padding: 5px;
    padding-left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: whitesmoke;
    border-radius: 3px;

}

#accounts-options li:hover {
    font-weight: 500;
    background-color: #4b4f58;
}

li.selectedAccount {
    font-weight: 500;
    background-color: #4b4f58;
}

.section-names {
    background: #1560A0;
    color: white ;
    padding: 3px 10px 3px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 0px 0px 3px 3px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -10px;
    left: -5px;
    min-width: 150px;
    z-index: 1;
}

.ace-tables table,
.ace-tables td,
.ace-tables th {
    /* border: 0.5px solid none; */
    cursor: default;
    border-bottom: 0.5px solid rgba(209, 208, 208, 0.308);
}

.ace-tables th {
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    
}

.ace-tables tr:hover{
    background: #1560A0;
    color: ivory;
    border-radius: 4px 4px 4px 4px ;
}

.ace-tables td {
    height: 26px;
}

.negative-financial {
    color: rgb(179, 11, 11);
}

table {
    width: auto;
    
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: grid;

    font-size: 13px;
    color:  rgb(85, 84, 84);

    overflow-y: auto;
    overflow-x: hidden;
}

#contacts-list-table {
    height: 95px;
}

#drivers-list-table, #vehicles-list-table, #policies-list-table {
    height: 160px;
}

#endorsements-list-table {
    height: 370px;
}

th {
    font-weight: 500;
    text-align: left;
    height: 30px;
    position: sticky;
    top: 0;
    background: rgba(238, 236, 236, 0.884);
}


.contacts-col-name{width: 250px;}
.contacts-col-title{width: 100px;}
.contacts-col-mobile{width: 120px;}
.contacts-col-email{width: 200px;}
.contacts-col-actions{width: 100px;}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #747373; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }
